<h1>Add a Place</h1>
<form action="/places" method="post">
  <label for="cityName">Add a new item</label>
  <input id="cityName" name="cityName" type="text">
  <button type="submit">Submit</button>
</form>